<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="EVA, dywaniki samochodowe, Warszawa, EVA dywaniki">
  <meta name="description" content="EVA – dywaniki samochodowe w Warszawie. Kup EVA - dywaniki, co to są EVA - dywaniki, EVA - dywaniki do samochodów osobowych.">
  <title>EVA – dywaniki samochodowe w Warszawie</title>

  <link rel="stylesheet" href="static/css/swiper-bundle.css">
  <link rel="stylesheet" href="static/css/index.css">
  <link rel="stylesheet" href="static/css/swiper-bundle.css"> <!-- Toast notifications moved here -->
  <link rel="shortcut icon" href="static/img/logo.svg" type="image/x-icon">

  <script defer src="static/js/swiper-bundle.js"></script>
  <script defer src="static/js/main.js"></script>
  <script defer src="static/js/scripts.js"></script>
  <link rel="stylesheet" href="static/css/index.css">
</head>

<body>
    <header class="header">
        <h1></h1>
    </header>
<body data-new-gr-c-s-check-loaded="14.1245.0" data-gr-ext-installed="" class="" style="margin-right: 0px;">
    <header class="header">
        <div class="content header__content">
            <div class="header__block-1">
                <div class="header__icon-1">
                    <img src="static/img/icons/phone.svg" alt="phone's icon" class="header__icon-telephone">
                </div>
                <div class="header__numbers">
                    <div class="header__number">
                        <a href="tel:+48 ------" class="header__number-phone">+48 --------</a>
                    </div>
                    <div class="header__number">
                        <a href="tel:+48----" class="header__number-phone">+48----</a>
                    </div>
                </div>
            </div>
            <div class="header__block-2">
                <div class="header__icon-2">
                    <img src="static/img/icons/maps.svg" alt="maps icon" class="header__icon-maps">
                </div>
                <span class="header__address">Warszawa, ul.Stradomska 1/18</span>
            </div>
            <a href="https://www.instagram.com/evabaranovichi" class="header__block-3">
                <div class="header__icon-3">
                    <img src="static/img/icons/inst.svg" alt="instagram icon" class="header__icon-inst">
                </div>
                <div class="header__inst-title">
                    <span class="header__inst-title-1">Odwiedz naszą</span>
                    <span class="header__inst-title-2">stronę</span>
                </div>
            </a>
        </div>
    </header>

    <section class="main-display content">
        <div class="main-display__top">
            <a href="index.html" class="logo">
                <img src="static/img/logo.svg" alt="logo" class="logo-img">
                <h2 class="logo-text">evaDyw.pl</h2>
            </a>
            <nav class="menu">
                <ul class="menu-items">
                    <li class="menu-item"><a href="#price">koszt</a></li>
                    <li class="menu-item"><a href="#reviews">opinia</a></li>
                    <li class="menu-item"><a href="#portfolio">galeria</a></li>
                    <li class="menu-item"><a href="#map">kontakt</a></li>
                </ul>
            </nav>
        </div>
        <div class="main-display__bottom">
            <div class="main-display__bottom-text">
                <h1 class="main-display__header">Innowacyjne dywaniki samochodowe</h1>
                <span class="main-display__subheader">w Warszawie</span>
                <a href="#" class="button main-display__button">zamówić</a>
            </div>
            <div class="main-display__bottom-images">

                <picture class="main-display__bottom-image">
                    <source srcset="static/img/main/main-cov.webp" type="image/webp">
                    <source srcset="static/img/main/main-cov.png" type="image/png">
                    <img src="static/img/main/main-cov.png" data-src="static/img/main/main-cov.png" alt="Eva-dyw" class="main-display__bottom-imageses">
                </picture>

            </div>
        </div>
    </section>

    <section class="about">
        <div class="adventages content">
            <h2 class="adventages__header">Co to są <span>EVA</span> dywaniki?</h2>
            <div class="adventages__cards">
                <div class="adventages__card">
                    <div class="adventages__wrap-img">
                        <img src="static/img/eva-cov/img1.png" alt="oczko eva dywan" class="adventages__img">
                    </div>
                    <div class="adventages__description">
                        <h3 class="adventages__description-header">Materiał</h3>
                        <p class="adventages__description-text">Dywaniki EVA są całoroczne i mają unikalną powierzchnię z komórkami w kształcie diamentów. Dzięki temu woda nie rozlewa się po zdjęciu dywanika i nie rozpryskuje się podczas jazdy. Dywaniki są wodoodporne.</p>
                    </div>
                </div>
                <div class="adventages__card">
                    <div class="adventages__wrap-img">
                        <img src="static/img/eva-cov/img2.png" alt="podkładka pod piętę do dywanika EVA" class="adventages__img">
                    </div>
                    <div class="adventages__description">
                        <h3 class="adventages__description-header">Różnice</h3>
                        <p class="adventages__description-text">Gumowe dywaniki wyginają się i wbijają w pedały. Dywaniki EVA na to nie pozwolą! Specjalny rzep utrzymuje je w jednej pozycji. Na życzenie,
dla kierowcy montowana jest aluminiowa podkładka pod piętę.</p>
                    </div>
                </div>
                <div class="adventages__card">
                    <div class="adventages__wrap-img">
                        <img src="static/img/eva-cov/img3.png" alt="kolorowanki do dywaników EVA" class="adventages__img">
                    </div>
                    <div class="adventages__description">
                        <h3 class="adventages__description-header">Kolory</h3>
                        <p class="adventages__description-text">Dywaniki samochodowe EVA można zamówić w indywidualnych rozmiarach i różnych kolorach, które według uznania klienta można łączyć z pasami wykończeniowymi z polipropylenu.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.adventages -->
        <div class="eva-rugs content">
            <h2 class="adventages__header eva-rugs__header">Dlaczego warto wybrać <span>EVA</span> dywaniki?</h2>
            <div class="eva-rugs__items">
                <div class="eva-rugs__item">
                    <div class="eva-rugs__item-wrap centered">
                        <div class="eva-rugs__wrap-img centered">
                            <div class="eva-rugs__border-img centered">
                                <img src="static/img/eva-cov/item1.svg" alt="Zalety EVA dywaników" class="eva-rugs__img">
                            </div>
                        </div>
                        <p class="eva-rugs__description">Komórki dywaników zbierają wodę, brud, kurz<br>(system oczka)</p>
                    </div>
                </div>
                <div class="eva-rugs__item">
                    <div class="eva-rugs__item-wrap centered">
                        <div class="eva-rugs__wrap-img centered">
                            <div class="eva-rugs__border-img centered">
                                <img src="static/img/eva-cov/item2.svg" alt="Zalety EVA dywaników" class="eva-rugs__img">
                            </div>
                        </div>
                        <p class="eva-rugs__description">Możesz wybrać kolor dywanu i taśmy wykończeniowej</p>
                    </div>
                </div>
                <div class="eva-rugs__item">
                    <div class="eva-rugs__item-wrap centered">
                        <div class="eva-rugs__wrap-img centered">
                            <div class="eva-rugs__border-img centered">
                                <img src="static/img/eva-cov/item3.svg" alt="Zalety EVA dywaników" class="eva-rugs__img">
                            </div>
                        </div>
                        <p class="eva-rugs__description">Łatwe do czyszczenia, strumień wody wypłukuje cały brud z komórek,
                            nie pęka na<br>mrozie</p>
                    </div>
                </div>
                <div class="eva-rugs__item">
                    <div class="eva-rugs__item-wrap centered">
                        <div class="eva-rugs__wrap-img centered">
                            <div class="eva-rugs__border-img centered">
                                <img src="static/img/eva-cov/item4.svg" alt="Zalety EVA dywaników" class="eva-rugs__img">
                            </div>
                        </div>
                        <p class="eva-rugs__description">Materiał ekologiczny i <br>nieszkodliwy,<br> bezwonny
                        </p>
                    </div>
                </div>
                <div class="eva-rugs__item">
                    <div class="eva-rugs__item-wrap centered">
                        <div class="eva-rugs__wrap-img centered">
                            <div class="eva-rugs__border-img centered">
                                <img src="static/img/eva-cov/item5.svg" alt="Преимущества EVA ковриков" class="eva-rugs__img">
                            </div>
                        </div>
                        <p class="eva-rugs__description">Dywaniki zakrywają podłogę wnętrza samochodu w możliwie największym stopniu</p>
                    </div>
                </div>
                <div class="eva-rugs__item">
                    <div class="eva-rugs__item-wrap centered">
                        <div class="eva-rugs__wrap-img centered">
                            <div class="eva-rugs__border-img centered">
                                <img src="static/img/eva-cov/item6.svg" alt="Преимущества EVA ковриков" class="eva-rugs__img">
                            </div>
                        </div>
                        <p class="eva-rugs__description">Gwarantujemy wysoką jakość naszych dywanów</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.eva-rugs -->
        <div class="price content" id="price">
            <h2 class="adventages__header price__header">Koszt <span>EVA</span> dywaników?</h2>
            <div class="price__cards">
                <div class="price__card-top">
                    <div class="price__card">
                        <div class="price__wrap-img">
                            <img src="static/img/coin/coin1.png" alt="Jeden dywanik " class="price__img">
                        </div>
                        <div class="price__card-wrap">
                            <div class="price__wrap-coin">
                                <span class="price__coin">оd 50 zł.</span>
                            </div>
                            <span class="price__description">Jeden dywanik</span>
                        </div>
                    </div>
                    <div class="price__card">
                        <div class="price__wrap-img">
                            <img src="static/img/coin/coin2.png" alt="Dywanik w bagazniku" class="price__img-top">
                        </div>
                        <div class="price__card-wrap">
                            <div class="price__wrap-coin">
                                <span class="price__coin">оd 80 zł</span>
                            </div>
                            <span class="price__description">w bagazniku</span>
                        </div>
                    </div>
                </div>

                <div class="price__card-bottom">
                    <div class="price__card">
                        <div class="price__wrap-img">
                            <img src="static/img/coin/coin3.png" alt="Zestaw wnętrzarski" class="price__img">
                        </div>
                        <div class="price__card-wrap">
                            <div class="price__wrap-coin">
                                <span class="price__coin">оd 120 zł</span>
                            </div>
                            <span class="price__description">Zestaw wnętrzarski</span>
                        </div>

                    </div>
                    <div class="price__card">
                        <div class="price__wrap-img">
                            <img src="static/img/coin/coin4.png" alt="Zestaw wnętrzarski" class="price__img">
                        </div>
                        <div class="price__card-wrap">
                            <div class="price__wrap-coin">
                                <span class="price__coin">оd 200 zł</span>
                            </div>
                            <span class="price__description">zestaw z bagażnikiem</span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- /.price -->
        <div class="portfolio content" id="portfolio">
            <h2 class="adventages__header">Nasze prace</h2>
            <div class="portfolio-slider__wrap">
                <div class="portfolio__slider swiper-container swiper-container-initialized swiper-container-horizontal">
                    <div class="swiper-wrapper" id="swiper-wrapper-cb9aa694c1a20b86" aria-live="polite" style="transition: all; transform: translate3d(-612px, 0px, 0px);"><div class="portfolio__slide swiper-slide swiper-slide-duplicate swiper-slide-prev" data-swiper-slide-index="5" role="group" aria-label="1 / 8" style="width: 612px;">
                            <img src="static/img/portfolio/slide7.png" alt="" class="portfolio__img">
                        </div>
                        <div class="portfolio__slide swiper-slide swiper-slide-active" data-swiper-slide-index="0" role="group" aria-label="2 / 8" style="width: 612px;">
                            <img src="static/img/portfolio/slide2.png" alt="" class="portfolio__img">
                        </div>
                        <div class="portfolio__slide swiper-slide swiper-slide-next" data-swiper-slide-index="1" role="group" aria-label="3 / 8" style="width: 612px;">
                            <img src="static/img/portfolio/slide3.png" alt="" class="portfolio__img">
                        </div>
                        <div class="portfolio__slide swiper-slide" data-swiper-slide-index="2" role="group" aria-label="4 / 8" style="width: 612px;">
                            <img src="static/img/portfolio/slide4.png" alt="" class="portfolio__img">
                        </div>
                        <div class="portfolio__slide swiper-slide" data-swiper-slide-index="3" role="group" aria-label="5 / 8" style="width: 612px;">
                            <img src="static/img/portfolio/slide5.png" alt="" class="portfolio__img">
                        </div>
                        <div class="portfolio__slide swiper-slide" data-swiper-slide-index="4" role="group" aria-label="6 / 8" style="width: 612px;">
                            <img src="static/img/portfolio/slide6.png" alt="" class="portfolio__img">
                        </div>
                        <div class="portfolio__slide swiper-slide swiper-slide-duplicate-prev" data-swiper-slide-index="5" role="group" aria-label="7 / 8" style="width: 612px;">
                            <img src="static/img/portfolio/slide7.png" alt="" class="portfolio__img">
                        </div>
                    <div class="portfolio__slide swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="0" role="group" aria-label="8 / 8" style="width: 612px;">
                            <img src="static/img/portfolio/slide2.png" alt="" class="portfolio__img">
                        </div></div>
                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
                <div class="swiper-button-prev portfolio-slider__arrow-right" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-cb9aa694c1a20b86">
                    <img src="static/img/portfolio/arrow-left.png" alt="стрелка">
                </div>
                <div class="swiper-button-next portfolio-slider__arrow-left" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-cb9aa694c1a20b86">
                    <img src="static/img/portfolio/arrow-right.png" alt="стрелка">
                </div>
            </div>
        </div>
        <!-- /.portfolio -->
    </section>
    <!-- /.about -->

    <section class="reviews" id="reviews">
        <div class="content reviews__content">
            <div class="reviews__slider swiper-container swiper-container-initialized swiper-container-horizontal">
                <div class="reviews__wrapper swiper-wrapper" id="swiper-wrapper-b24c07395e017a8b" aria-live="polite" style="transition: all; transform: translate3d(-709px, 0px, 0px);"><div class="reviews-item reviews__item swiper-slide swiper-slide-duplicate swiper-slide-prev" role="group" aria-label="6 / 9" style="width: 639px; margin-right: 70px;" data-swiper-slide-index="2">
                        <div class="review-item__text">
                            Спасибо! Все приехало, поставил. Результатом доволен! В машине супер! Заказывал на Ниссан.
                        </div>
                        <div class="reviews-item__line"></div>
                        <div class="review-item__name">Николай П.</div>
                        <div class="eva-rugs__wrap-img reviews-item__img centered">
                            <div class="eva-rugs__border-img centered">
                                <img class="reviews-item__foto" src="img/reviews/otz2.jpg" alt="foto user 1">
                            </div>
                        </div>
                    </div>
                    <div class="reviews-item reviews__item swiper-slide swiper-slide-active" role="group" aria-label="4 / 9" style="width: 639px; margin-right: 70px;" data-swiper-slide-index="0">
                        <div class="review-item__text">
                            Покупала у ребят коврики для Хундай солярис в подарок молодому человеку. Все очень
                            понравилось. Буду советовать только вас.
                        </div>
                        <div class="reviews-item__line"></div>
                        <div class="review-item__name">Вера К.</div>
                        <div class="eva-rugs__wrap-img reviews-item__img centered">
                            <div class="eva-rugs__border-img centered">
                                <img class="reviews-item__foto" src="img/reviews/user1.png" alt="foto user 1">
                            </div>
                        </div>
                    </div>
                    <div class="reviews-item reviews__item swiper-slide swiper-slide-next" role="group" aria-label="5 / 9" style="width: 639px; margin-right: 70px;" data-swiper-slide-index="1">
                        <div class="review-item__text">
                            Коврики супер!!! Качество на высшем уровне!!! Удачи и побольше заказов вам!!! Большое
                            спасибо!
                        </div>
                        <div class="reviews-item__line"></div>
                        <div class="review-item__name">Константин В.</div>
                        <div class="eva-rugs__wrap-img reviews-item__img centered">
                            <div class="eva-rugs__border-img centered">
                                <img class="reviews-item__foto" src="img/reviews/otz1.jpg" alt="foto user 1">
                            </div>
                        </div>
                    </div>
                    <div class="reviews-item reviews__item swiper-slide swiper-slide-duplicate-prev" role="group" aria-label="6 / 9" style="width: 639px; margin-right: 70px;" data-swiper-slide-index="2">
                        <div class="review-item__text">
                            Спасибо! Все приехало, поставил. Результатом доволен! В машине супер! Заказывал на Ниссан.
                        </div>
                        <div class="reviews-item__line"></div>
                        <div class="review-item__name">Николай П.</div>
                        <div class="eva-rugs__wrap-img reviews-item__img centered">
                            <div class="eva-rugs__border-img centered">
                                <img class="reviews-item__foto" src="img/reviews/otz2.jpg" alt="foto user 1">
                            </div>
                        </div>
                    </div>
                    <!-- <div class="reviews-item reviews__item swiper-slide">
                        <div class="review-item__text">
                            Покупала у ребят коврики для Хундай солярис в подарок молодому человеку. Все очень понравилось. Буду советовать только вас.
                        </div>
                        <div class="reviews-item__line"></div>
                        <div class="review-item__name">Вера К.</div>
                        <img class="reviews-item__foto" src="img/reviews/user1.png" alt="foto user 1">
                    </div>
                    <div class="reviews-item reviews__item swiper-slide">
                        <div class="review-item__text">
                            Покупала у ребят коврики для Хундай солярис в подарок молодому человеку. Все очень понравилось. Буду советовать только вас.
                        </div>
                        <div class="reviews-item__line"></div>
                        <div class="review-item__name">Вера К.</div>
                        <img class="reviews-item__foto" src="img/reviews/user1.png" alt="foto user 1">
                    </div> -->
                <div class="reviews-item reviews__item swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" role="group" aria-label="4 / 9" style="width: 639px; margin-right: 70px;" data-swiper-slide-index="0">
                        <div class="review-item__text">
                            Покупала у ребят коврики для Хундай солярис в подарок молодому человеку. Все очень
                            понравилось. Буду советовать только вас.
                        </div>
                        <div class="reviews-item__line"></div>
                        <div class="review-item__name">Вера К.</div>
                        <div class="eva-rugs__wrap-img reviews-item__img centered">
                            <div class="eva-rugs__border-img centered">
                                <img class="reviews-item__foto" src="img/reviews/user1.png" alt="foto user 1">
                            </div>
                        </div>
                    </div></div>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
        </div>

    </section>

    <section class="form">
        <form class="form-application order-form">
            <h2 class="form__header">Форма заявки</h2>
            <div class="form__items">
                <div class="form__item">
                    <div class="form__input form__short">
                        <input type="text" name="user-phone" class="user-phone" placeholder="+375(99)999-99-99">
                    </div>
                    <div class="form__input form__short">
                        <input type="email" name="user-email" class="user-email" placeholder="Ваш e-mail">
                    </div>
                </div>
                <div class="form__item">
                    <div class="form__item form__long">
                        <textarea name="user-message" class="user-message" placeholder="Ваше сообщение (марка автомобиля, цвет ковриков, номер телефона)" rows="10" cols="20"></textarea>
                    </div>
                </div>
                <div class="form__policy">
                    <input class="form__policy-checkbox" type="checkbox" name="policy" id="policy-checkbox" checked="">
                    <label for="policy-checkbox" class="form__policy-label">
                        <span class="form__policy-message">Я соглашаюсь с <a href="#"> политикой
                                конфиденциальности</a></span>
                        <!-- <span class="d-none form__policy-message--warning">Необходимо согласиться с <a href="#"> политикой конфиденциальности</a>!</span> -->
                    </label>
                </div>

                <div class="form__message">Данные введены некорректно</div>

            </div>
            <button class="form__button button">отправить</button>
            <div class="waiting d-none">
                <img src="static/img/forms/waiting.gif" alt="">
            </div>
        </form>
    </section>

    <div class="map" id="map">
        <iframe src="https://yandex.ru/map-widget/v1/?lang=ru_RU&amp;scroll=false&amp;source=constructor-api&amp;um=constructor%3Af51a3fb790254750b2a7a17c1d4cf6725e12543cf44990f5116bfd2c56151da2" frameborder="0" allowfullscreen="true" width="100%" height="565px" style="display: block;"></iframe>
    </div>

    <footer class="footer">
        <div class="footer__social">
            <h3>мы в социальных сетях</h3>
            <a href="https://www.instagram.com/evabaranovichi" class="footer__social-wrap">
                <img src="static/img/footer/instagram.svg" alt="иконка инстаграм">
            </a>
        </div>
        <div class="footer__telephone">
            <h3>контактные телефоны</h3>
            <a href="tel:+375299092252">+375 29 909-22-52 (VEL)</a>
            <a href="tel:+375336953017">+375 33 695-30-17 (МТС)</a>
        </div>
        <div class="footer__about">
            <h3>О нас</h3>
            <p>Индивидуальное изготовление EVA ковриков для вашего автомобиля</p>
            <span>Warszwa, ul. Stradomska 1/18</span>
        </div>
    </footer>

    <div class="modal__overlay modal order-modal unblock">
        <div class="form modal-content form-modal">
            <form class="form-application order-form">
                <h2 class="form__header">Форма заявки</h2>
                <div class="form__items">
                    <div class="form__item">
                        <div class="form__input form__short">
                            <input type="text" name="user-phone" class="user-phone" placeholder="+375(99)999-99-99">
                        </div>
                        <div class="form__input form__short">
                            <input type="text" name="user-email" class="user-email" placeholder="Ваш e-mail">
                        </div>
                    </div>
                    <div class="form__item">
                        <div class="form__item form__long">
                            <textarea name="user-message" class="user-message" placeholder="Ваше сообщение (марка автомобиля, цвет ковриков, номер телефона)" rows="10" cols="20"></textarea>
                        </div>
                    </div>
                    <div class="form__policy">
                        <input class="form__policy-checkbox" type="checkbox" name="policy-checkbox" id="policy-checkbox-modal" checked="">
                        <label for="policy-checkbox-modal" class="form__policy-label">
                            <span class="form__policy-message">Я соглашаюсь с <a href="#"> политикой
                                    конфиденциальности</a></span>
                            <!-- <span class="d-none form__policy-message--warning">Необходимо согласиться с <a href="#"> политикой конфиденциальности</a>!</span> -->
                        </label>
                    </div>
                    <div class="form__message">Данные введены некорректно</div>
                </div>
                <button class="form__button button">отправить</button>
                <div class="waiting d-none">
                    <img src="img/forms/waiting.gif" alt="">
                </div>
            </form>
        </div>
    </div>
    <div class="modal__overlay modal modal-thanks unblock ">
        <div class="modal-content modal-thanks__content">
            <div class="modal-thanks__wrapper">
                <p>Спасибо за обращение</p>
                <p>Мы скоро в Вами свяжемся</p>
            </div>
        </div>
    </div>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
            m[i].l = 1 * new Date(); k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(86496758, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true
        });
    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/86496758" style="position:absolute; left:-9999px;" alt="" /></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->


<deepl-input-controller translate="no"></deepl-input-controller></body>
</body>
</html>
